.dropZoneColor {
  border: 2px dashed #717386;
  background-color: transparent;
}

.dropZoneColorDrag {
  border: 2px dashed rgba(0,0,0,0.28);
  background-color: grey;
}

.dropZoneColorDrop {
  border: 2px dashed #717386;
  background-color: transparent;
}


